*{
    margin: 0;
    padding: 0;
}
#audiobox{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 5%;
    right: 3%;
    border-radius: 25px;
    background: url("images/music_on.png") no-repeat center;
    cursor: pointer;
}
.section{
    overflow: hidden;
}
/*第一页*/
.page1 img{
    width: 50%;
    margin-left: 30%;
}
/*所有页的图片list，距离左侧的距离设置一下*/
[class*='page'] .list{
    margin-left: 5%;
}
/*所有列表页面的图片大小*/
[class*='page'] .list img {
   width: 240px;
}
/*所有页的背景图片bg*/
[class*='page'] .bg{
    position: absolute;
    bottom: 5%;
    right: 5%;
    width: 30%;
}
/*所有页的文字图片*/
[class*='page'] .text{
    position: absolute;
    top: 5%;
    right: 5%;
}
/* 第一页的动画
   核心思路：通过opacity属性和transition配合实现。opacity（透明度），transition 是检测某一属性的变化
*/
.page1 img{
    opacity: 0;/*初始状态，隐藏*/
    transition: opacity 1s 0.5s;
}
/*挡第一页要显示的时候去触发，。怎么知道第一页要显示呢？*/
.page1.active img{
    opacity: 1;
}
/*第二页效果：
  核心思路：通过transform:translateY() 和 transtion 配合实现
  transtion：是检测属性值变化
  translateY 平移
*/
.page2 .list img{
    transition: 1s;
    /*线让图片都跑到页面下面去*/
    transform: translateY(1000px);
}
.page2 .list img:nth-child(1){
    transition-delay: 0.5s;
}
.page2 .list img:nth-child(2){
    transition-delay: 0.7s;
}
.page2 .list img:nth-child(3){
    transition-delay: 0.9s;
}
/*检测第二页要触发*/
.page2.active .list img{
    transform: translateY(0);
}
/*第三页动画效果
  核心思路：通过transform:translateX() 和 transtion 配合实现
*/
.page3 .list img{
    transition: 1s 0.5s;
}
/*让后两张叠到左边*/
.page3 .list img:nth-child(2){
    transform: translateX(-250px);
}
.page3 .list img:nth-child(3){
    transform: translateX(-500px);
}
/*当第三页别触发，就让所有图片归位*/
.page3.active .list img{
    transform: translateX(0);/*恢复原始状态*/
}
/*第四页动画
  核心思路：通过transform:translateX() 和 keyframe
*/
.page4 .list img{
    transition: 1s 0.5s;
}
/*让左右两张叠到中间张*/
.page4 .list img:nth-child(1){
    transform: translateX(250px);
}
.page4 .list img:nth-child(3){
    transform: translateX(-250px);
}
/*当第四页触发，就让所有图片归位*/
.page4.active .list img {
    transform: translateX(0); /*恢复原始状态*/
}